* {
  margin: 0;
  padding: 0;
  border-radius: 10px;
  box-sizing: border-box;
}

body {
  margin: 4.88vh 2.6vw;
  background-color: #5a569b;
  font-size: 16px;
}

h1{
  font-size: 1em;
}

h2{
  font-size: 0.9em;
}

h3{
  font-size: 0.8em;
}

h4{
  font-size: 0.7em;
}

h5{
  font-size: 0.6em;
}

p{
  font-size: 0.5em;
}

.icon{
    height: 45px;
    width: 45px;
}

.main_conteiner{
  width: 94.7vw;
  height: 90.2vh;
  background-color: white;
  display: flex;
}

@media screen and (max-width: 768px) {
  body{
    margin: 0;
    padding: 0;
  }
  .main_conteiner{
    width: 100vw;
    height: 100vh;
    border-radius: 0;
  }
  .icon{
    width: 30px;
    height: 30px;
  }
}